.navigation__list {
  list-style: none;
  padding: 16px 0;
  margin: 0;
}

.navigation__item {
  display: inline;
}

.navigation__item:not(:last-child) {
  margin-right: 38px;
}

.navigation__link {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: none;
  color: inherit;
}

.navigation__link_color_yellow {
  color: #ffb822;
}
