.search {
  border: 3px solid #9965e3;
  border-radius: 10px;
}

.search__input {
  background-color: inherit;
  max-width: 230px;
  font-size: 22px;
  padding: 12px;
  border: none;
  outline: none;
  color: inherit;
}

.search__input::placeholder {
  font-size: 22px;
  font-weight: 900;
  text-transform: uppercase;
  color: #cccccc;
}

.search__button {
  vertical-align: middle;
  padding: 0 9px 0 0;
  background-color: inherit;
  border: none;
  cursor: pointer;
}


